<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498771789851-7db8m10gucjrf7n3nq412f70q2naohn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498771789851-7db8m10gucjrf7n3nq412f70q2naohn3</string>
	<key>API_KEY</key>
	<string>AIzaSyAB985ggFH48ILkOGIe8XWHd6gHYwLLej0</string>
	<key>GCM_SENDER_ID</key>
	<string>498771789851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.titForTat</string>
	<key>PROJECT_ID</key>
	<string>tit-for-tat-english</string>
	<key>STORAGE_BUCKET</key>
	<string>tit-for-tat-english.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498771789851:ios:646b1d85a6f3a1163e50be</string>
</dict>
</plist>